.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 25px;
    &-right {
        margin-top: 200px;
    }
    &-left, &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .card {
            display: flex;
            flex-direction: column;

            &-image {
                max-width: 100%;
                img {
                    object-fit: contain;
                    border-radius: 7px;
                    max-width: 100%;
                }
            }
        }
    }
}